[submodule "Firmware de Leitura dos Sensores e Envio via MQTT/lib/PZEM-004T-v30"]
	path = Firmware de Leitura dos Sensores e Envio via MQTT/lib/PZEM-004T-v30
	url = https://github.com/mandulaj/PZEM-004T-v30
